<div class="row">
    <div class="col-xs-12">
        <p>Noodlers<br>
        このサイトは麺類好きのためのSNSサイトです！<br>
        「麺を通して人生を豊かに」、<br>
        これこそが当サイトが掲げるコンセプトです！<br>
        (機能を利用するには会員登録が必要です)
        </p>
    </div>
</div>
