<div class="row">
    <div class="col-xs-12">
    	<h2>ようこそnoodlersへ！</h2>
        <p>自分のお気に入りの麵屋さんの投稿をしたり、<br>
        あらゆるジャンルの麺類を登録、<br>
        他のユーザーの投稿を見るなど<br>
        使い方は自由です！
        </p>
    </div>
</div>