<div class="row">
    <div class="col-xs-12">
    	<h2>ようこそNoodlersへ！</h2>
        <p>このサイトでは、過去に行ったことのある麺類系の店に関する投稿、<br>
        他のユーザーをフォローして他の人が投稿した内容を見たり、<br>
        地図を使って特定のエリアにおいて気になるジャンルの食べ物を検索することなどができる、<br>
        食べ物に関する投稿・SNS系サイトです。
        </p>
    </div>
</div>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Map</title>
    <style>
        #target {
            width: 900px;
            height: 350px;
        }
    </style>
</head>
<body>
    <div id="target"></div>
        <input type="text" id="address">
        <button id="address_search">住所を検索</button>
        <input type="text" id="keyword">
        <button id="facility_search">施設を検索</button>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places"></script>

    <script>
        //google map apiに関するjavascriptの記述が入る
    </script>

</body>
</html>