<div class="row">
    <div class="col-xs-12">
    	<h2>ようこそnoodlersへ！</h2>
        <p>自分のお気に入りの麵屋さんの投稿をしたり、<br>
        あらゆるジャンルの麺類を登録、<br>
        他のユーザーの投稿を見るなど<br>
        使い方は自由です！
        </p>
    </div>
</div>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Map</title>
    <style>
        #target {
            width: 550px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div id="target"></div>
        <input type="text" id="address">
        <button id="address_search">住所を検索</button>
        <input type="text" id="keyword">
        <button id="facility_search">施設を検索</button>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places"></script>

    <script>
        //google map apiに関するjavascriptの記述が入る
    </script>

</body>
</html>