<div class="row">
    <div class="col-xs-12">
        <p>Noodlers<br>
        このサイトは麺類好きのためのSNSサイトです！<br>
        「麺を通して人生を豊かに」、<br>
        これこそが当サイトが掲げるコンセプトです！<br>
        (機能を利用するには会員登録が必要です)
        </p>

    <div class="btn-wrapper">
		<div class="row">
			<p><%=link_to "Log in", new_user_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>
		</div>
		<div class="row">
			<p><%=link_to "Sign up", new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %></p>
		</div>
	</div>

    </div>
</div>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Map</title>
    <style>
        #target {
            width: 550px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div id="target"></div>
    <input type="text" id="address">
    <button id="search">Search</button>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyC3E3MsMxZwAiFNEqWEeGx8ycgd1SHYDqk&callback=initMap" async defer></script>

    <script>
        //google map apiに関するjavascriptの記述が入る
    </script>
</body>
</html>