<div class="row">
    <div class="col-xs-12">
        <h2>Noodlers</h2>
        <p>このサイトは麺類好きのための投稿・SNS系サイトです！<br>
        当サイトが掲げるコンセプト、それは<br>
        「麺を通して人生を豊かに」です！<br>
        (当サイトの機能を使用するには会員登録が必要になります。)
        </p>

    <div class="btn-wrapper">
		<div class="row">
			<p><%=link_to "ログイン画面へ", new_user_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>
		</div>
		<div class="row">
			<p><%=link_to "新規登録画面へ", new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %></p>
		</div>
	</div>

    </div>
</div>